<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.co.ms.androidnative3">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="MS Android Native 3"
        android:exported="true">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
